div.project-image-wrapper {
  height: 300px;
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
  box-shadow: 5px 5px 10px var(--clr-current-1);
}

canvas.project-card-canvas {
  height: 300px;
  width: 100%;
  object-fit: contain;
  z-index: 0;
}