div.project-image-wrapper {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  border: double 5px var(--clr-current-1);
  padding: 10px;
}

canvas.project-card-canvas {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  object-fit: contain;
  z-index: 0;
}