div.grid-wrapper {
  height: 100%;
  width: 100%;

  overflow: hidden;

  grid-row: 1 / 1;
  grid-column: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: var(--clr-current-3);
}

div.grid-inner-wrapper {
  display: grid;
  grid-template: auto / auto;
}

div.grid-sign-wrapper {
  width: var(--size-nav-cell);
  height: var(--size-nav-cell);
}

span.grid-sign {
  background-color: var(--clr-current-3);
  border: var(--border-sec);
  padding: 0.2em 0.4em;
  white-space: nowrap;
}