div.contact-form-wrapper {
  position: relative;
}

form.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px;
  width: 100%;
}

form.contact-form>div {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.inline-label-input-wrapper>label {
  position: absolute;
  top: -0.5em;
  left: 10px;
  background-color: var(--clr-current-3);
  padding: 0 5px;
}

div.inline-label-input-wrapper>input, div.inline-label-input-wrapper>textarea {
  padding: 0.5em;
}

div.inline-label-input-wrapper>textarea {
  height: auto;
}

button.contact-form-submit-button {
  text-transform: capitalize;
}