div.technologies-display-wrapper {
  font-size: 0.8em;
  padding: 5px;
  width: 100%;
  background-color: var(--clr-current-2);
  border: var(--border-sec);
  border-width: 2px 0 0 0;
}

div.technologies-display-wrapper h4 {
  text-align: center;
  padding: 0.5em;
}

div.technologies-display-wrapper>ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px
}

div.technologies-display-wrapper li {
  flex: 1 0 17%;
  text-align: center;
  padding: 5px;
  white-space: nowrap;
  background-color: var(--clr-current-3);
}