.collapsible-trigger {
  user-select: none;
  color: var(--clr-current-3);
  background-color: var(--clr-current-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.5em;
}

.collapsible-trigger-title {
  text-transform: capitalize;
}

.collapsible-trigger:hover, .collapsible-trigger:focus {
  background-color: var(--clr-current-2);
  color: var(--clr-current-1);
}

.collapsible-trigger>span {
  width: 1.5em;
}

.collapsible-trigger-title {
  font-family: var(--font-h);
  }