div.controls-explanation-wrapper {
  background-color: var(--clr-current-3);
  width: 100%;
  z-index: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  

  user-select: none;
}