div.controls-explanation-wrapper {
  height: 100%;
  width: 100%;

  grid-row: 1 / 1;
  grid-column: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

div.controls-explanation-inner-wrapper {
  background-color: var(--clr-current-3);
  width: 100%;
  z-index: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}