div.nav-game-wrapper {
  position:fixed;
  background-color: var(--clr-current-3);
  width: min(80%, 800px);
  height:min(80%, 600px);
  margin: auto;
  inset: 0;

  border: var(--border-pri);
  background-color: var(--clr-current-0);

  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}