div#nav-bar {
  position: fixed;
  width: 100%;
  height: var(--size-border);
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
  padding: 6px 64px;
  pointer-events: none;
}

div#nav-bar-inner-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: var(--border-sec);
  background-color: var(--clr-current-2);
  padding: 5px;
  border-radius: 35px;
}

div#nav-bar button {
  border: solid 1px var(--clr-current-0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  pointer-events: all;
  
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  padding: 0.2em;
  margin: 0;
  background-color: var(--clr-current-3);

  color: var(--clr-current-0);
}

div#nav-bar button:hover, div#nav-bar button:focus {
  color: var(--clr-current-3);
  background-color: var(--clr-current-1);
}

button#toggle-nav-button {
  background-color: var(--clr-current-3);
  color: var(--clr-current-1);
}

@media (max-width: 980px) {
  div#nav-bar {
    padding: 22px 74px;
  }

  div#nav-bar-inner-wrapper {
    padding: 10px;
    border-radius: 50px;
  }

  div#nav-bar button {
    width: 60px;
    height: 60px
  }
}