div#nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  pointer-events: none;
}

div#nav-bar>button {
  border: solid 1px var(--clr-current-0);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  pointer-events: all;
  
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  padding: 5px;
  background-color: var(--clr-current-3);
}

div#nav-bar>button>* {
  transition: transform 300ms;
}

div#nav-bar>button:hover>*, div#nav-bar>button:focus>* {
  transform: scale(1.8);
}

button#toggle-nav-button {
  background-color: var(--clr-current-3);
  color: var(--clr-current-1);
}

button#toggle-theme-selector-button>span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--clr-current-1) 0%, var(--clr-current-3) 50%, var(--clr-current-2) 100%);
}