html {
  color: var(--clr-current-1);
  font-family: var(--font-pri);
  font-size: 1.5rem;
  line-height: 1;
}

sup {
  vertical-align: super;
  font-size: 0.8em;
}

a {
  color: var(--clr-current-0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-h);
}

a:hover, a:focus {
  color: var(--clr-current-1);
}

.underline {
  text-decoration: underline;
}

.disclaimer {
  font-size: 0.8em;
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.gap-2 {
  gap: 2em;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
  display: inline-block;
}

.justify {
  text-align: justify;
  text-align-last: center;
}

.fade {
  opacity: 0.2;
  pointer-events: none;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.error {
  color: red;
}

.accent {
  color: var(--clr-current-0);
}

.page-wrapper {
  min-height: calc(100svh - 138px);
  display: flex;
  flex-direction: column;
}

.page-header {
  max-width: min(80%, 600px);
  max-height: 5em;
  margin: 0.5em auto;
}

.page-block {
  margin: 0 auto;
  width: var(--size-page-block);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

textarea, input {
  border: var(--border-sec);
}

button {
  width: fit-content;
  border: var(--border-sec);
  padding: 0.4em 0.6em;
  margin: 0 auto;
  font-family: var(--font-h);
  background-color: var(--clr-current-1);
  color: var(--clr-current-3);
}

button:hover, button:focus {
  background-color: var(--clr-current-2);
  color: var(--clr-current-0);
  border-color: var(--clr-current-0);
}

.round {
  border-radius: 50%;
}

@media (max-width: 980px) {
  html {  
    font-size: 2rem;
  }
}