html {
  color: var(--clr-current-1);
  font-family: var(--font-pri);
  font-size: 1.5rem;
}

a {
  color: var(--clr-current-0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-h);
}

a:hover, a:focus {
  color: var(--clr-current-2);
}

.underline {
  text-decoration: underline;
}

.disclaimer {
  font-size: 0.8em;
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.gap-2 {
  gap: 2em;
}

.center {
  margin: 0 auto;
  width: fit-content;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.page-wrapper {
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
}

.page-header {
  margin: 0 auto 1em auto;
}

.page-block {
  margin: 0 auto;
  width: var(--size-page-block);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}