html {
  color: var(--clr-current-1);
  font-family: var(--font-pri);
  font-size: 1.5rem;
}

a {
  color: var(--clr-current-0);
}

h1, h2 {
  font-family: var(--font-h);
}

a:hover, a:focus {
  color: var(--clr-current-2);
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.gap-2 {
  gap: 2em;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.page-header {
  margin: 0 auto 1em auto;
}

.page-block {
  margin: 0 auto;
  width: fit-content;
}