div#react-root {
  position: relative;
}

div.full {
  min-height: 100svh;

  display: flex;
  justify-content: center;
  padding: var(--size-border);
}

main {
  width: 100%;
  display:flex;
  flex-direction: column;

  background-color: var(--clr-current-3);
  border: var(--border-pri);
}

main h1 {
  font-size: 3em;
  text-align: center;

  text-transform: uppercase;
  font-style: italic;
}