div#react-root {
  position: relative;
}

div.fade-in {
  animation-name: fade-in;
  animation-direction: forwards;
  animation-duration: 1000ms;
  animation-delay: 800ms; 
  animation-fill-mode: backwards;
}

div.full {
  min-height: 100svh;

  display: flex;
  justify-content: center;
  padding: var(--size-border);
}

main {
  width: 100%;
  display:flex;
  flex-direction: column;

  background-color: var(--clr-current-3);
  border: var(--border-pri);
}

main h1 {
  font-size: 3em;
  text-align: center;

  text-transform: uppercase;
  font-style: italic;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms linear;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}