div.carousel-status-display-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  padding: 10px 25px;
}

div.carousel-select-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size-carousel-button-gap);
  position: relative;
}

button.carousel-select-button {
  border-radius: 50%;
  border: solid 1px var(--clr-current-1);
  background-color: var(--clr-current-3);
  height: var(--size-carousel-button);
  width: var(--size-carousel-button);
  cursor: pointer;
  padding: 0;
}

button.carousel-select-button:hover, button.carousel-select-button:focus {
  background-color: var(--clr-current-2);
}

button.carousel-select-button.active {
  pointer-events: none;
  background-color: var(--clr-current-3);
}

button.carousel-lock-button {
  border: none;
  background-color: var(--clr-current-3);
  color: var(--clr-current-0);
  padding: 0;
}

button.carousel-lock-button:hover, button.carousel-lock-button:focus {
  color: var(--clr-current-1);
}

/* button.carousel-select-button.inactive {
  background-color: var(--clr-current-3);
}

button.carousel-select-button.active {
  background-color: var(--clr-current-1);
} */

div.carousel-select-position-marker {
  background-color: var(--clr-current-1);
  border-radius: 50%;
  height: var(--size-carousel-button);
  width: var(--size-carousel-button);
  position: absolute;
  left: 0;
  transition: var(--transition-carousel);
}

button.carousel-lock-button {
  height: var(--size-carousel-button);
  width: var(--size-carousel-button);
  cursor: pointer;
}