div.project-card-wrapper {
  width: var(--size-page-block);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

div.project-card-wrapper a {
  text-decoration: underline;
}

div.project-card-wrapper h2 {
  font-family: var(--font-h);
  font-size: 1.3em;
  text-decoration: underline;
}

div.project-card-header {
  width: 100%;
}

span.project-card-description {
  font-size: 0.9em;
}

div.more-info-wrapper {
  border: var(--border-sec);
}

span.project-card-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding-top: 10px;
  width: fit-content;
  margin: 0 auto;
}

span.more-info-content {
  padding: 30px;
  display: inline-block;
  border-top: var(--border-sec);
  white-space:pre-wrap;
}