div.project-card-wrapper {
  width: var(--size-page-block);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

div.project-card-wrapper a {
  text-decoration: underline;
}

div.project-card-wrapper h2 {
  font-family: var(--font-h);
  font-size: 1.8em;
  text-decoration: underline;
}

div.project-card-header {
  width: 100%;
}

span.project-card-description {
  font-size: 0.9em;
}

div.more-info-wrapper {
  border: var(--border-sec);
}

span.project-card-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--clr-current-3);
  border: var(--border-sec);
  border-top: none;
  width: 100%;
  font-size: 1.2em;
  font-family: var(--font-h);
}

span.project-card-links>a {
  user-select: none;
  color: var(--clr-current-0);
  /* text-decoration: none; */
}

span.project-card-links>a:hover, span.project-card-links>a:focus {
  color: var(--clr-current-1);
}

span.more-info-content {
  padding: 30px;
  display: inline-block;
  border-top: var(--border-sec);
  white-space:pre-wrap;
}