div.carousel-wrapper {
  overflow-x: hidden;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: var(--border-pri);
  margin-bottom: 1em;
}

div.carousel-wrapper-inner {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: var(--size-carousel-gap);
  transition: var(--transition-carousel);
  flex-grow: 1;
}