div.carousel-wrapper {
  overflow-x: hidden;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  /* border: var(--border-pri); */
  /* margin-bottom: 1em; */
}

div.carousel-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: var(--transition-carousel);
  height: 100%;
  width: 100%;
}