div.prompt-popup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.prompt-options-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 200px;
  margin: 0 auto;
}

span.prompt-text {
  display: inline-block;
  margin: 0 auto;
}

.prompt-option {
  width: fit-content;
  border: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-pri);
  background-color: transparent;
  color: var(--clr-current-1);
  cursor: pointer;
  text-transform: capitalize;
}

.prompt-option:hover, .prompt-option:focus {
  background-color: transparent;
  color: var(--clr-current-1);
}

.prompt-option.selected {
  color: var(--clr-current-0);
  background-color: transparent;
}

.prompt-option.selected::before {
  content: '\203A';
  position: absolute;
  transform: translate(-150%, -5%);
}