div.cell-wrapper {
  width: var(--size-nav-cell);
  height: var(--size-nav-cell);

  font-size: 0.4em;

  background-color: var(--clr-current-3);
  
  /* Box shadow is a hack for chrome */
  /* When the cells translate, you can briefly see the background of the outer container in a line around the cells */
  /* This box shadow covers that up */
  box-shadow: 1px 1px var(--clr-current-3);
}

canvas.full-size-canvas {
  width: 100%;
  height: 100%;
}