.theme-selector-wrapper {
  position:fixed;
  background-color: white;
  width: min(80%, 600px);
  height: min(80%, 600px);
  margin: auto;
  inset: 0;

  border: var(--border-pri);

  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;

  z-index: 2;
}

div.theme-selector-wrapper>div {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
}

@keyframes theme-selector-fade-in {
  from { opacity: 0; };
  to { opacity: 1; };
}

div.theme-selector-wrapper p {
  margin: 0 auto;
  width: fit-content;

  animation-name: theme-selector-fade-in;
  animation-direction: forwards;
  animation-duration: 300ms;
  animation-delay: 800ms; 
  animation-fill-mode: backwards;

  user-select: none;
}

div.theme-buttons-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  pointer-events: none;

  animation-name: theme-selector-fade-in;
  animation-direction: forwards;
  animation-duration: 300ms;
  animation-delay: 800ms; 
  animation-fill-mode: backwards;
}

div.theme-buttons-wrapper>button {
  height: 50px;
  flex: 1;
  cursor: pointer;
  pointer-events: all;
}

div.theme-buttons-wrapper>button:hover, div.theme-buttons-wrapper>button:focus {
  height: 100px;
}

span.color-0 {
  color: var(--clr-logo-0);
}

span.color-1 {
  color: var(--clr-logo-1);
}

span.color-2 {
  color: var(--clr-logo-2);
}

span.color-3 {
  color: var(--clr-logo-3);
}

span.color-4 {
  color: var(--clr-logo-4);
}